<nav class="navbar navbar-dark bg-dark justify-content-center">
    <span class="navbar-brand mb-0 h1" style="color: beige">ADD SUBSCRIBER</span>
</nav>
<button style="margin: 2%" type="button" class="btn btn-light" (click)="goBack()">BACK</button>
<form style="margin: 2%">
<div class="form-group">
  <div>
      <label>Name:</label>
      <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name">  
  </div>
  <br>
  <div>
      <label>Phone:</label>
      <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Phone Number">  
    </div>
</div>
<b>Subscriber to be added:</b>
<br>
<label>Name:</label>{{name}}
<br>
<label>Phone:</label>{{phone}}
<br>
<button type="button" class="btn btn-success" (click)="addSubscriber()">ADD</button>
</form>
